.centerDiv{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card {
  width: 400px;
}
.mat-form-field {
  display: block;
}

textarea {
  height: 100px;
  resize: vertical;
}