@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>As well as Node.js, TypeScript can be used very effectively in ASP.NET Core applications. This application introduces us to building applications with ASP.NET Core, Visual Studio and TypeScript.</p>
