@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
  Packt Publishing<br />
  Livery Place<br />
  35 Livery Street<br />
  Birmingham<br />
  B3 2PB<br />
  <abbr title="Phone">P:</abbr>
  0121 265 6484
</address>

<address>
    <strong>Email:</strong> <a href="hub@packtpub.com">hub@packtpub.com</a><br />
</address>
